:root {
    /*Colors*/
    --body-background-color: rgb(238,174,202);
    --body-background-gradient: linear-gradient(34deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    --main-container: rgba(255, 255, 255, 0.7);
    --secondary-container: rgba(255, 255, 255, 0.15);
    --secondary-cont-border: 1px solid rgba(68, 63, 63, 0.05);
    --title: #94BBE9;
    --buttons-text: #EEAECA;
    --text: #443F3F;
    --placeholder-text: rgba(68, 63, 63, 0.7);
    --white: white;
    --buttons-border: 2px solid linear-gradient(34deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    /*Font sizes*/
    --title-sz: 2.6rem;
    --text-sz: 1.8rem;
    --footer-sz: 1.6rem;
    --mobile-footer-sz: 1.4rem;
    --buttons-sz: 1.6rem;
    --mobile-buttons-sz: 1.4rem;
    --mobile-title-sz: 2.2rem;
    --mobile-text-sz: 1.6rem;
}
/*html & body styles*/
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: var(--text-sz);
    background: var(--body-background-color);
    background: var(--body-background-gradient);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}
/*main styles*/
main {
    width: 80%;
    margin: 0 auto;
}
main .main-container {
    padding: 20px 60px 40px;
    background-color: var(--main-container);
    border-radius: 2rem;
}
.main-container h1 {
    color: var(--title);
    font-size: var(--title-sz);
}
.main-container .info {
    margin: 30px 0;
}
.main-container .form-container {
    background-color: var(--secondary-container);
    border-radius: 1.8rem;
    border: var(--secondary-cont-border);
    padding: 30px;
}
.form-container .inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
label {
    text-align: left;
}
input {
    height: 3.4rem;
    border: none;
    border-radius: 10px;
    padding: 0 2rem;
    font-family: 'Comfortaa', cursive;
    -moz-appearance:textfield;
}
input::placeholder {
    color: var(--placeholder-text);
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
}
select {
    height: 3.4rem;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    padding: 0 1rem;
    font-family: 'Comfortaa', cursive;
}
button {
    background-color: transparent;
    border: 2px solid var(--body-background-color);
    border-radius: 1rem;
    font-family: 'Comfortaa', cursive;
    font-size: var(--buttons-sz);
    padding: 15px 0;
    width: 40%;
    margin: 0 10px;
    color: var(--buttons-text);
    cursor: pointer;
}
button:hover {
    background: var(--buttons-text);
    border: none;
    color: var(--white);
    border: 2px solid var(--body-background-color);
}
.buttons {
    width: 100%;
    margin-top: 2.5rem;
}
.buttons button:last-child {
    border: 2px solid var(--title);
    color: var(--title);
}
.buttons button:last-child:hover {
    background-color: var(--title);
    color: var(--white);
    border: 2px solid var(--title);
}
main .footer-info {
    font-size: var(--footer-sz);
}
main .footer-info a {
    text-decoration: none;
}
/*media queries*/
@media (max-width: 1000px) {
    body {
        height: 100%;
    }
    main {
        margin: 30px auto;
    }
    button {
        width: 46%;
        margin: 0 5px;
    }
}
/*tablet*/
@media (max-width: 700px) {
    main .main-container {
        padding: 20px 30px 40px;
    }
    .form-container .inputs-container {
        grid-template-columns: auto;
    }
    button {
        width: 90%;
        margin-bottom: 15px;
    }
    label {
        text-align: center;
    }
}
/*mobile*/
@media (max-width: 430px) {
    body {
        font-size: var(--mobile-text-sz);
    }
    .main-container h1 {
        font-size: var(--mobile-title-sz);
    }
    .main-container .form-container {
        padding: 10px;
    }
    .inputs-container {
        gap: 10px;
    }
    input {
        padding: 0 1rem;
    }
    button {
        font-size: var(--mobile-buttons-sz);
    }
    main .footer-info {
        font-size: var(--mobile-footer-sz);
    }
}